body {
  background-image: url(https://i.pinimg.com/originals/16/36/74/1636747faef33e2ec6242cb51654f1f5.png);
  width: 100%;
  margin: 0;
  font-size: 20px;
  font-family: "Source Sans Pro", "Arial", sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.1);
}

h1, p {
  text-align: center;
  color: black;
}

h1 {
  margin-top: 1em;
  font-size: 32px;
}

p {
  font-size: 20px;
}

form {
  width: 45vw;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.93);
  border: 1px solid rgba(0, 0, 0, 0.20);
  margin-bottom: 2em;
}

fieldset {
  border: 0;
  margin: 0;
}

fieldset:last-of-type {
  padding-bottom: 0;
}

input, label {
  display: block;
}

input {
  font-size: 20px;
  font-family: "Source Sans Pro", "Arial", sans-serif;
}

input[type='submit'] {
  margin: 0 auto;
  margin-bottom: 1em;
  height: 2em;
  width: 90%;
  background-color: rgba(90, 80, 255, .82);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
}

input[type='submit']:active {
  background-color: rgba(90, 80, 255, 1);
  color: rgb(255, 255, 255);
}

input[type='checkbox'] {
  height: .8em;
  width: .8em;
}

input[type='radio'] {
  height: .8em;
  width: .8em;
}

select {
  font-size: 20px;
  font-family: "Source Sans Pro", "Arial", sans-serif;
}

label {
  margin: 1em;
  margin-top: 0.5em;
}

legend {
  margin-top: 1em;
  margin-left: 1em;
}

.roundEdges {
  border-radius: 5px;
}

.boxSpace {
  margin-top: .5em;
}

.labelSpace {
  margin-top: 2em;
}

.fullWidth {
  width: 100%;
}

.inline {
  display: inline;
}

.block {
  display: block;
}
